:root {
  --color-principal: #C36A2D;
  --color-text: #E2C275;
  --color-2-text: #bea057;
  --background: #EADCA6;
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
}



/* Menu navegação */

a:link {
  color: var(--background);
}
a:visited {
  color: var(--color-text)
}
a:hover {
  color: var(--color-text);
  transform: scale(1, 2);
}


.navbar ul {
  display: flex;
  justify-content: start;
  border: 3px var(--color-principal);
  background-color: var(--color-principal);
  position: fixed;
  top: 0;
  width: 100%;
}
.subNav:hover ulgit {
  display: block;
}

.navbar li {
  padding: 20px 10px;
  border-right: 1px solid #bbb;
}
.navbar a {
  text-decoration: none;
  width: 100%;
  padding: 20px 10px;
}


.subNav>ul{
  position: absolute;
  top: 55px;
  left: 188px;
  border: 3px var(--color-principal);
  background-color: var(--color-principal);
  padding: 10px;
  list-style: none;
  display: none;
}
.subNav li {
  padding: 10px;
}
.subNav a {
  text-decoration: none;
}

/* Página Home */
.banner-header {
  width: 100%;
  height: 355px;
  object-fit: cover;
  object-position: 50% 30%;
  position: relative;
  top: 50px;
}
.logotipo{
  display: flex;
  position: absolute;
  top: 50px;
  width: 100%;
}
.logotipo>img {
  display: flex;
  justify-content: center;
  z-index: 2;
  border-radius: 50%;
  margin: auto;
  height: 355px;
}
.subtitleHome {
  padding: 15px;
  font-size: 20pt;
  color: var(--color-2-text);
  justify-content: center;
  display: flex;
}
.titlePrincipal {
  display: flex;
  margin-top: 50px;
  font-size: 44pt;
  color: var(--color-principal);
  justify-content: center;
}
.textHome {
  font-size: 25pt;
  color: var(--color-2-text);
  justify-content: center;
  display: flex;
  padding: 15px;
}
.card2Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 0px;
  background-color: var(--color-text);
}
.card2Home h2 {
  color: var(--color-text);
  background: var(--color-principal);
  justify-content: center;
  display: flex;
  height: 65px;
  line-height: -2.9;
  padding-left: 10px;
  font-size: 40pt;
  text-align: center;
  font-style: italic;
  padding: 5px;
  border: 5px solid var(--color-2-text);
}
.imagHome {
  width: 400px;
  display: flex;
  height: 400px;
  mix-blend-mode: multiply;
  justify-content: center;
  border: 5px solid var(--color-2-text);
}

/*Body Sobre Nós*/
.sobreNos{
  padding: 20px;
}
.photoArnaldo {
  width: 500px;
  height: auto;
  padding: 10px;
  background-color: var(--color-principal);
  border-radius: 50%;
}
.textSobreNos, .textSobreNos2 {
  display: flex;
  background-color: var(--color-text);
  padding: 10px; 
}
.textSobreNos{
  margin-top: 50px;
}
.onlyTextSobreNos, .onlyTextSobreNos2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 50px;
  font-size: 30px;
  padding: 10px;
  color: var(--color-principal);
}

/*Página Catálogo - produtos*/

.product-shoes img, .product-bags img, .product-belts img, .product-backpacks img {
  width: 19%;
  height: 250px;
  mix-blend-mode: multiply;
  margin: 10px 5px 10px 5px;
}
.product-shoes h1, .product-bags h1, .product-backpacks h1, .product-belts h1 {
  text-align: justify;
  font-size: 28pt;
  line-height: 1.5;
  color: var(--color-text);
  font-weight: bolder;
  background-color: var(--color-principal);
  border: 5px solid var(--color-2-text);
  padding: 10px 10px 10px 20px;
}
.page-title {
  color: var(--color-principal);
  font-size: 38pt;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  line-height: 2.5;
  padding-top: 30px;
}
.page-subtitle {
  color: var(--color-2-text);
  font-size: 34pt;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
}

/* Página contato - Formulário */
.contact-section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.contact-form {
  width: 60%;
}
.contact-form label {
  width: 100%;
  display: block;
}
.contact-form input,
.contact-form textarea,
.contact-form select,
.contact-form button {
  width: 100%;
  margin: 5px 0;
  box-sizing: border-box;
}
select {
  height: 1.4rem;
  margin: 5px 0;
}
.contact-form textarea {
  resize: none;
  height: 4rem;
}
button {
  line-height: 1.5;
  box-shadow: #c0c1c2 2px 2px 2px;
  border-radius: 2px;
  border: none;
}
.complementary-info {
  width: 30%;
}
.address-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.opening-hours h3,
.main-address h3 {
  font-size: 14pt;
  font-weight: 700;
}
.main-address p {
  line-height: 1.5;
}
.links-sociais img {
  width: 30px;
}

/*footer*/
.footer {
  color: var(--color-text);
  border: 1px var(--color-principal);
  background-color: var(--color-principal);
  text-align: center;
  padding: 5px;
  border: 5px solid var(--color-2-text);
}