
/* Menu navegação */

body{
  color: black;
}

.banner-header {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 0% 70%;
}

a:link{
    color: blueviolet;
}
a:visited{
    color: #ad0505;
    }
a:hover{
    color: rgb(33, 3, 116);
    font-size: 28pt;
    }

    
.navbar ul {
    display: flex;
    justify-content: start;
    border: 3px var(--color-principal);
    background-color: var(--color-principal);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li {
    padding: 20px;
    border-right: 1px solid #bbb;
}

.navbar a {
    text-decoration: none;
}

/* Página Home */

.logotipo {
  justify-content: space-between;
  display: flex;
  margin-left: 1160px;
  width: 100px;
  height: 90px;
  
}
.subtitleHome{
    margin: 10px auto 10px;
    padding-left: 10px;
    width: 80%;
    font-size: 20pt;
    color: #e2c275;
    justify-content: center;
    display: flex;
}
.titlePrincipal{
    margin: 40px auto 10px; /*margin: top right bottom left; */
    padding-left: 10px;
    width: 80%;
    font-size: 44pt;
    font-weight: 700;
    color: #c36a2d; /* Código hexadecimal da cor */
    justify-content: center;
    display: flex;
}

.textHome1{   
padding-left: 10px;
width: 102%;
font-size: 20pt;
color: #e2c275;
justify-content: center;
display: flex;
}

.textHome{
  margin: 60px auto 10px;
  margin-bottom: 3%;
  padding-right: 80px;
  width: 80%;
  font-size: 25pt;
  color: black;
  justify-content: center;
  display: flex;
}

.card2Home{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
   margin-top: 80px;
   background-color: #e2c275; 
   
}

.card2Home h2{
    color: #e2c275;
    background:#c36a2d;
    justify-content: center;
    display: flex;
    height: 65px;
    line-height: -2.9;
    padding-left: 10px;
    font-size: 40pt;
    text-align: center;
    font-style: italic;
}

.imagHome{
 width: 400px;
 display: flex;
 height: 400px;
mix-blend-mode: multiply;
justify-content: center;

}

/*Body Sobre Nós*/
.photoArnaldo {
    width: 500px;
    height: auto;
    padding: 10px;
    background-color: var(--letter-color);
}

.textSobreNos{
    display: flex;
    margin: 50px 100px;
}

.onlyTextSobreNos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 50px;
    font-size: 25px;
    background-color: var(--sub-color);
    padding: 10px;
}

/*Página Catálogo - produtos*/
.product-shoes img {
    width: 20%;
    height: 300px;
}

.product-bags img {
    width: 20%;
    height: 300px;
}

.product-shoes h1 {
    text-align: justify;
    font-size: 28pt;
    line-height: 1.5;
    color: var(--cor-text);
    font-weight: bolder;
    border: 3px var(--color-principal);
    background-color: var(--color-principal);
}

.product-bags h1 {
    text-align: justify;
    font-size: 28pt;
    line-height: 1.5;
    color: var(--cor-text);
    font-weight: bolder;
    border: 3px var(--color-principal);
    background-color: var(--color-principal);
}

/* Página contato - Formulário */
.contact-section {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .contact-form {
    width: 60%;
  }
  
  .contact-form label {
    width: 100%;
    display: block;
  }
  
  .contact-form input,
  .contact-form textarea,
  .contact-form select,
  .contact-form button {
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  select {
    height: 1.4rem;
    margin: 5px 0;
  }
  
  .contact-form textarea {
    resize: none;
    height: 4rem;
  }
  
  button {
    line-height: 1.5;
    box-shadow: #c0c1c2 2px 2px 2px;
    border-radius: 2px;
    border: none;
  }
  
  .complementary-info {
    width: 30%;
  }
  
  .address-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .opening-hours h3,
  .main-address h3 {
    font-size: 14pt;
    font-weight: 700;
    margin: 15px 0;
  }
  
  .main-address p {
    line-height: 1.5;
  }
  